body{
    margin: 0px;
}

.cabecalho{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 81, 54);
    margin: 0px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


h1{
    font-family: Triforce Serif;   
}

.cabecalho h1{
    color: white;
    font-size: 25pt;
}

.cabecalho img{
    width: 3rem;
    height: 3rem;
}
