body{
    background-color: rgb(22, 32, 25);
}

body *{
    color: white;
}

.main{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h2{
    font-family: Hylia Serif;  
    font-size: 20pt;
}

.main input{
    background-color: rgb(0, 81, 54);
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;
}

.main button{
    background-color: rgb(0, 81, 54);
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.main button:hover{
    background-color: white;
    color: rgb(0, 81, 54);
}

.main img{
    width: 10%;
}
.table{
    width: 80%;
    margin: 1rem auto;
    border-collapse: collapse;
}
.table *{
    border: 1px rgba(255, 255, 255, 0.151) solid;
}

.table-key{
    background-color: rgb(0, 81, 54);
    padding: 1rem;
} 

.table-value{
    background-color: rgb(0, 36, 24);
    padding: 1rem;
}

.respostas-resposta{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 81, 54);
    padding: 0.2rem;
    border: 1px rgba(255, 255, 255, 0.151) solid;
    cursor: pointer;
}

.respostas-resposta:hover{
    background-color: rgb(172, 172, 172);
}