body{
    background-color: rgb(22, 32, 25);
}

body *{
    color: white;
}

.main{
    width: 100%;
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h2{
    font-family: Hylia Serif;  
    font-size: 20pt;
}

.main input{
    background-color: rgb(0, 81, 54);
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;
}

.main button{
    background-color: rgb(0, 81, 54);
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.main button:hover{
    background-color: white;
    color: rgb(0, 81, 54);
}
