.rodape{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 81, 54);
    margin: 0px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0px;
}

.rodape p{
    width: 100%;
    font-family: Triforce Serif;  
    text-align: center;
}